body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgb{
   width: 150px;
}

.card{
    width: 400px;
    margin: 0 auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}


